/*!
 * @file    variables.less
 * @brief   General Variables for Colors, Formatting, and Theming
 * @author  Justin D. Byrne <justin@byrne-systems.com>
 */

/* Color Variables */
/* -------------------------------------------------------------------------- */

/* Byrne-Systems */
/* ------------------------------------------------------------------ */
// white
@bridesmaid: rgb(254,239,232);
@dust-storm: rgb(233,212,209);
@twilight: rgb(233,210,223);
@carousel-pink: rgb(250,230,239);
@boulder: rgb(177, 177, 177);

// Blue
@azure: rgb(56,97,154);
@chambray: rgb(63,79,162);
@gigas: rgb(72, 63, 153);
@boston: rgb(54, 137, 176);
@keppel: rgb(51,159,165);
@lynch: rgb(108, 124, 154);
@cerulean: rgb(3, 186, 213);

// Magenta
@affair: rgb(109, 71, 156);
@tapestry: rgb(178, 76, 156);
@alizarin: rgb(237, 31, 36);
@cinnabar: rgb(232,78,36);
@tree-poppy: rgb(248,155,29);

// Orange
@ochre: rgb(214,117,40);
@danger: rgb(232,62,36);
@red-violet: rgb(206,60,150);

// Yellow
@lime-pie: rgb(212, 194, 40);
@tango: rgb(233, 127, 36);
@marino: rgb(63,107,180);

/* Programming Specific */
/* ------------------------------------------------------------------ */
@javascript: rgb(52, 152, 219);
@pure: rgb(52, 152, 219);

/* General (Body) */
/* ------------------------------------------------------------------ */
@fair-pink: rgb(255, 237, 229);

@twilight: rgb(232, 209, 220);
@pink-lace: rgb(225, 229, 255);
@link-water: rgb(212, 219, 241);

/* Facebook */
/* ------------------------------------------------------------------ */
@chambray: rgb(59, 89, 152);
@athens-gray: rgb(233, 235, 238);
@athens-light: rgb(246, 247, 249);
@iron: rgb(223, 224, 228);
@iron-light: rgb(208, 209, 213);
@alto: rgb(190, 189, 193);

/* Border Colors */
/* ------------------------------------------------------------------ */
@top: @alto;
@right: rgb(229, 230, 223);
@bottom: @iron-light;
@left: @iron;

/* Random */
/* ------------------------------------------------------------------ */
@gray-hex: #444;
@gray: rgba(0, 0, 0, 0.80);
@gray-light: #999;
@silver:  #CDCDCD;
@alabaster: #FCFCFC;
@lavender: #8CA6E4;
@periwinkle: #CFD7EA;
@nepal: rgb(144,158,187);                // General eggshell white
@slate: rgb(112,119,132);                // Slate Gray
@bluewood: rgb(49,71,88);
@pure-blue: rgb(61, 79, 93);             // Grayish Blue
@river-bed: rgb(71, 81, 95);             // Dark Grayish Blue
@cloud-burst: rgb(35, 45, 74);           // Dark Blue
@abbey: rgb(75, 79, 86);                 // Gray
@haze: rgb(246, 247, 247);               // Light Gray
@chateau: rgb(173, 179, 182);
@nevada: rgb(100, 110, 117);
@masla: rgb(63, 61, 60);
@bsy-blue: rgb(52, 89, 148);             // Byrne-Systems Dark Blue
@bsy-bg-blue: rgb(57,96,152);            // Byrne-Systems Background Blue
@bsy-cyan: rgb(3, 186, 213);             // Byrne-Systems Cyan
@bsy-black: rgb(8, 27, 84);              // Byrne-Systems Black

/* Buttons */
/* ------------------------------------------------------------------ */
@btn-default-color: @gray;
@btn-default-color-hex: @gray-hex;
@btn-default-bg: #E6E6E6;

@btn-primary-color: #FFF;
@btn-primary-bg: rgb( 0, 120, 231 );

/* SECTION */
/* ------------------------------------------------------------------ */

/* Menu */
/* ------------------------------------------------------------------ */
@menu-text-color: #777; // form readonly too
@menu-bg-color: #FFF;
@menu-hover-color: #FFF;
@menu-hover-bg: #EEE; // form readonly too
@menu-open-bg: #DEDEDE;
@menu-link-hover-color: #EEE;
@menu-link-disabled: #BFBFBF;
@menu-border-color: #B7B7B7;
@menu-link-border-color: transparent;
@menu-selected-color: #000;

/* Headings */
/* ------------------------------------------------------------------ */
@menu-heading-color: #565d64;
@menu-heading-border-color: #DFDFDF;

/* Paginator */
/* ------------------------------------------------------------------ */
@menu-page-nav-color: #C0C1C3;
@menu-page-nav-shadow: rgba(0,0,0,0.45);

/* Forms */
/* ------------------------------------------------------------------ */
@form-border-color: #CCC;
@form-border-color-dark: #C0C0C0; // See forms-core.less
@form-border-color-focus: #129FEA;
@form-shadow-color: (@form-border-color + #111);
@form-bg: #FFF;

/* File, Radio, Checkbox */
/* ------------------------------------------------------------------ */
@checkbox-outline-color: (@gray-hex - #111);

/* Legend */
/* ------------------------------------------------------------------ */
@form-legend-color: #333;
@form-legend-border-color: #E5E5E5;

/* Disabled */
/* ------------------------------------------------------------------ */
@form-disabled-bg: #EAEDED;
@form-disabled-color: #CAD2D3;

/* Invalid */
/* ------------------------------------------------------------------ */
@form-invalid-color: #B94A48;
@form-invalid-border-color: #EE5F5B;
@form-invalid-border-color-focus: #E9322D;

/* Help */
/* ------------------------------------------------------------------ */
@form-help-color: #666;

/* Tables */
/* ------------------------------------------------------------------ */
@tab-color: #000;
@tab-caption-color: @tab-color;
@tab-border-color: #CBCBCB;
@tab-head-bg: #E0E0E0;
@tab-cell-bg: transparent;
@tab-cell-bg-odd: #F2F2F2;