/*!
 * @file    buttons-mixins.less
 * @brief   Custom user-defined buttons
 * @author  Justin D. Byrne <justin@byrne-systems.com>
 * @author  Byrne-Systems <http://www.byrne-systems.com>
 */

/* Flat-Button */
/* -------------------------------------------------------------------------- */
.flat-button(@color) {
  display: block;
  background-color: darken(@color, 4%);
  .border-r(1px, solid, @color);
  padding: 7px 14px 7px 14px;
  border-radius: 3px;
  text-shadow: 0.75px 0.75px 0.25px rgba(128,128,128,0.85);
  vertical-align: top;

  &:hover {
    background-color: darken(@color, 7%);
    box-shadow: 1px 1px rgb(77,77,77);
    box-shadow: inset 1px 1px darken(@color, 3%);
  }

  &:active {
    background-color: darken(@color, 10%);
  }
}