/*!
 * @file    buttons-mixins.less
 * @brief   Custom user-defined buttons
 * @author  Justin D. Byrne <justin@byrne-systems.com>
 * @author  Byrne-Systems <http://www.byrne-systems.com>
 */

/* Flat Button */
/* -------------------------------------------------------------------------- */
.flat-button {
  display: block;
  background-color: @bsy-blue;
  border: 1px solid @bsy-black;
  padding: 7px 14px;
  border-radius: 3px;
  box-shadow: inset 1px 1px #7f7d9c;
  text-shadow: 0.75px 0.75px 0.25px rgba(128,128,128,0.85);
  vertical-align: top;

  &:hover {
    background-color: @bluewood;
    box-shadow: 1px 1px rgb(77,77,77);
    box-shadow: inset -1px -1px #7f7d9c;
  }

  &:active {
    background-color: @pure-blue;
    border: 1px solid @cloud-burst;
    text-shadow: -0.75px -0.75px 0.25px rgba(128,128,128,0.85);
  }
}