/*!
 * @file    main.less
 * @brief   Main styles for the index.html; Test Page
 * @author  Justin D. Byrne <justin@byrne-systems.com>
 * @author  Byrne-Systems <http://www.byrne-systems.com>
 */

html {
  background-color: white;
}

#less-pure {
  margin: 10px; padding: 10px;

  img
  { .pure-img; display: block; margin: 0 auto; padding: 37px; }

  h1
  { margin: 10px; padding-bottom: 10px; border-bottom: 2px solid @silver;
    &:hover
    { cursor: pointer;
      &:after
      { content: " ▼"; color: @lavender; font-size: 24px; }
    }
  }

  h2
  { margin: 0 0 13px 20px; }

  h3
  { margin: 8px 0 13px 30px; }

  p
  { margin: 0 10px 10px 20px; padding: 10px 10px 10px 12px; border: 1px solid @silver; background-color: @alabaster; }

  section
  { display: block; margin: 10px; padding: 10px 10px 10px 0; border: 2px dashed @periwinkle; border-radius: 3px;
    h2
    { margin: 12px 0 13px 15px; }
  }

  .pure-button-group
  { margin: 10px 20px; padding: 10px; border: 1px dashed @silver; }

  h2.form
  { margin: 0 0 -4px 20px; }

  .pure-form
  { padding: 10px; }

  .pure-table
  { margin-left: 15px; }

  .pure-table-striped
  { margin-left: 30px; }

  div[class*="test"] {
    background: #ffff00;
  }

  .pure-g
  { margin-left: 30px;
    .pure-u-1-2
    { padding-bottom: 4px;
      content
      { padding-bottom: 4px; }
    }
  }
}